.blog_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Image/Backimg.svg);
}

.blog_heading {
  font-size: 0.9375rem;
  font-weight: bold;
}

.news_heading {
  font-size: 2.8125rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.news_section {
  min-height: 20.625rem; /* changed from height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 1.5;
}

.news_description {
  text-align: center;
  color: #8c8a8a;
}

.news_box_btn {
  width: 59.375rem;
  display: flex;
  justify-content: space-between;
  margin-top: 30px; 
  box-shadow: rgba(3, 93, 109, 0.35) 0px -50px 36px -28px inset;
  border-radius: 13px;
}

.btn_insight {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.btn_insight:first-child,
.btn_insight:hover,
.btn_insight:focus,
.btn_insight.selected {
  background-color: #2196f3;
  color:#ffffff;
}

.btn_show_all {
  display: none;
}

@media only screen and (max-width: 768px) {
  .blog_section {
    height: auto;
    position: absolute;
    margin: 145px 30px ;
  }
  .news_box_btn {
    width: 24.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .btn_insight {
    width: 22.25rem;
    margin: 10px 0;
  }
  .news_heading {
    font-size: 1.5rem;
    margin: 5px 0 10px 0;
    letter-spacing: 6px;
  }
  .news_section {
    font-size: 0.9375rem;
  }
  .btn_show_all {
    display: none;
  }
}
